@model List<TaskModel>

@{
    ViewData["Title"] = "Tasks";
}

<h2>@ViewData["Title"]</h2>

<table>
    <tr>
        <th>LimitDate</th>
        <th>Priority</th>
        <th>TaskName</th>
    </tr>
    
    @foreach (TaskModel task in Model)
    {
        <tr>
            <td>@task.LimitDate</td>
            <td>@task.Priority</td>
            <td>@task.TaskName</td>
        </tr>
    }

</table>